<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (currentUser) { %>
    <h2>Hello <%= currentUser.username %></h2>
    <a href="/log-out">Log Out</a>

    <form action="/post/create" method="POST">
      <label for="post">New Post</label>
      <textarea name="post" id="post"></textarea>

      <button>Post</button>
    </form>

    <% } else {%>
    <h1>Please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" />

      <label for="password">Password</label>
      <input type="password" name="password" />

      <button>Log In</button>
    </form>
    <a href="/user/create">Sign Up</a>
    <a href="/user/admin-create">Admin Sign Up</a>
    <% } %> 
    
    <p>Posts</p>
    <% if (posts) { %>
      <% for( let i = 0; i < posts.length; i++ ) { %>
      <div>
        <li>By: <%= posts[i].user %></li>
        <li>Posted on: <%= posts[i].date_formatted %></li>
        <a href="<%= posts[i].url %>">
          <li><%- posts[i].post %></li>
        </a>
        <% if (currentUser) { %>
          <% if (currentUser.status === "Admin") { %>
            <a href="/post/<%= posts[i].url %>/delete">Delete Post</a>
            <% } %>
        <% } %>
      </div>
      <% } %> 
    <% } else { %>
    <p>No posts</p>
    <% } %>
  </body>
</html>
