<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/partials/post.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar"); %>

    <h1><%= user.username %>'s Profile</h1>
    <% if (currentUser.id == user.id || currentUser.status === "Admin") { %>
        <a href="<%= user.url %>/delete">Delete Profile</a>
    <% } %>
    
    <div class="posts-container">
      <% if (user_posts.length > 0) { %>
        <% user_posts.forEach(function(post){ %>
          <%- include("../partials/post", {post: post}); %>
        <% }); %>
      <% } else { %>
      <p>No posts</p>
      <% } %>
    </div>
    
  </body>
</html>
