<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/forms/log-in-form.css">
  </head>
  <body>
    <%- include("../partials/navbar"); %>
    
    <form action="/log-in" method="POST" class="form">
      <div class="form-title">
        <p>Please Log In</p>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>

      <% if (typeof errorMessage != "undefined") { %>
        <div class="form-group">
          <p class="error"> <%= errorMessage[0] %> </p>
        </div>
      <% } %>

      <div class="form-group">
        <button type="submit">Log In</button>
      </div>
    </form>

    <div class="account-create-container">
      <p>Need an account?</p>
      <a href="/user/create">Create an account here</a>
    </div>

    <% if (locals.errors) { %>
    <div class="form-group">
      <% for( let i = 0; i < errors.length; i++ ) { %>
        <p class="error"> <%= errors[i].msg %> </p>
      <% } %>
    </div>
    <% } %> 
    <% if (locals.customErrors) { %>
    <div class="form-group">
      <% for( let i = 0; i < customErrors.length; i++ ) { %>
        <p class="error"> <%= errors[i].msg %> </p>
      <% } %>
    </div>
    <% } %>
  </body>
</html>
